<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="static/css/Grid.css">
        <link rel="stylesheet" type="text/css" href="static/css/ionicons.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,300italic' rel='stylesheet' type='text/css'>
        <title>UALR SFSH&reg; </title>
    </head>
    <body>
        <header class="index-hdr">
            <div class="hero-text-box info-btn">
                <div class="col span-3-of-5 info-btn">
                    <h1>San Francisco Safe Housing</h1>
                    <a class="btn btn-ghost js--scroll-to-features" href="#works">Learn about <strong>SFSH</strong></a>
                </div>
                <div class="col span-2-of-5 info-btn">
                    <form action="/result" class="login-form">
                        <div class="row">
                            <div class="srch_txt">
                                <a><strong><font size="3">Enter Zip Code or Street Name</font></strong></a>
                            </div>
                        </div>
                        <div class="row">  
                            <div>
                                <input class="placeholder" type="text" name="userloc" id="userloc" placeholder="Search here..." required>
                            </div>
                        </div>
                        <div class="srch_txt">
                             <input type="submit" value="Search">
                        </div>
                    </form>
                </div>
            </div>
        </header>
        <section class="section-steps" id="works">
            <div class="row">
                <h2>Understanding &mdash; SFSH</h2>
            </div>
            <div class="row">
                <div class="col span-1-of-2 steps-box">
                    <img src="static/img/screen.png" class="app-screen">
                </div>
                <div class="col span-1-of-2 steps-box">
                    <div class="works-step">
                        <div>1</div>
                        <p>Enter the area postal code or district name that you are willing to seek</p>
                    </div>
                    <div class="works-step">
                        <div>2</div>
                        <p>Heat map demonstrates the violations happened in the particualr place</p>
                    </div>
                    <div class="works-step">
                        <div>3</div>
                        <p>Find an apartment based on a marker safe from crime area</p>
                    </div>
                </div>            
            </div>       
        </section>   
    </body>
</html>